@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

/* Dark mode, use attribute to control theme, see app/layout.tsx for its usage */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@import "./colors.css";
@import "./animations.css";

@import "./base.css";
@import "./components.css";
